{% extends "index.html" %} {% load static %} {% block content %} {% block title %}
<title>Admin Pluto | Add Product</title>
{% endblock %}
<div class="container-fluid">
  <div class="row column_title">
    <div class="col-md-12">
      <div class="page_title">
        <h2>Add New Product</h2>
      </div>
    </div>
    <form method="post" action="/product/store" class="col-md-6" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input type="text" class="form-control" name="txtName" required placeholder="Product Name" />
      </div>
      <div class="mb-3">
        <label class="form-label">Barcode</label>
        <input type="text" class="form-control" name="txtBarcode" required placeholder="Barcode" />
      </div>
      <div class="mb-3">
        <label class="form-label">Unit Price</label>
        <input type="text" class="form-control" name="txtUnitPrice" required placeholder="Unit Price" />
      </div>
      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="text" class="form-control" name="txtQty" required placeholder="Quantity" />
      </div>
      <div class="mb-3">
        <label class="form-label">Photo</label>
        <input type="file" class="form-control" name="file" />
      </div>
      <div class="mb-3">
        <label class="form-label">Category Name</label>
        <div>
          <select class="form-control" name="ddlCategoryID">
            {% for col in categorys %}
            <option value="{{ col.id }}">{{col.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <a href="/product" class="btn btn-danger">Cancel</a>
    </form>
    {% for message in messages %}
    <span class="color:green">{{ message }}</span>
    {% endfor %}
  </div>
</div>
{% endblock %}
