{% extends "index.html" %} {% load static %} {% block content %} {% block title %}
<title>Admin Pluto | Edit Product</title>
{% endblock %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Edit Product</h2>
            </div>
        </div>
        <form method="post" action="/product/update" class="col-md-6">
            {% csrf_token %}
            <div class="mb-3">
                <input type="hidden" class="form-control" name="txtId" value="{{product.id}}"/>
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control" name="txtName" value="{{product.name}}" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Barcode</label>
                <input type="text" class="form-control" name="txtBarcode" value="{{product.barcode}}" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Unit Price</label>
                <input type="text" class="form-control" name="txtUnitPrice" value="{{product.unitPrice}}" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Qty</label>
                <input type="text" class="form-control" name="txtQty" value="{{product.qtyInstock}}" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Photo</label>
                <div class="mb-3">
                    {% if product.photo %}
                        <img src="{{ product.photo.url }}" alt="image here" class="prod-size">
                    {% endif %}
                </div>
                <input type="file" class="form-control" name="file" value="{{product.photo.url}}"/>
            </div>
            <div class="mb-3">
        <label class="form-label">Category Name</label>
        <div>
          <select class="form-control" name="ddlCategoryID">
            {% for col in categorys %}
              {% if col.id == product.category_id %}
              <option value="{{ col.id }}" selected>{{col.name}}</option>
              {% endif %}
              <option value="{{ col.id }}">{{col.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a href="/product" class="btn btn-danger">Cancel</a>
        </form>
        {% for message in messages %} {% if message.tags %}
        <span class="color:green">{{ message }}</span>
        {% endif %} {% endfor %}
    </div>
</div>
{% endblock %}
