{% extends "index.html" %} {% load static %} {% block content %} {% block title %}
<title>Admin Pluto | Product Form</title>
{% endblock %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Product List</h2>
            </div>
        </div>
        <div class="full graph_revenue">
            <div class="row">
                <div class="col-md-12">
                    <div class="inbox-head">
                        <a class="main_bt" href="product/create"><i class="fa fa-plus-circle white_color"></i> Add New
                            Product</a>
                        <form action="#" class="pull-right position search_inbox">
                            <div class="input-append">
                                <input type="search" class="sr-input" name="search" placeholder="Search Product"/>
                                <button class="btn sr-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="table-responsive-sm">
                        <table class="table table-hover">
                            <tr class="thead-light">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                            {% for col in products %}
                            <tr>
                                <td>{{ col.id }}</td>
                                <td>{{ col.name }}</td>
                                <td>{{ col.qtyInstock }}</td>
                                <td>{{ col.unitPrice }}</td>
                                <td>
                                    <img src="/media/{{col.photo}}" width="70px"/>
                                </td>
                                <td>
                                    <a href="/product/view/{{col.id}}" class="btn btn-warning btn-sm"><span class="fa fa-eye"></span> View</a>
                                    <a href="/product/edit/{{col.id}}" class="btn btn-primary btn-sm"><span
                                            class="fa fa-pencil"></span> Edit</a>
                                    <a href="/product/destroy/{{col.id}}" class="btn btn-danger btn-sm"><span
                                            class="fa fa-trash-o"></span> Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
      <script>
         {% for message in messages %}
            Swal.fire('{{ message }}');
         {% endfor %}
      </script>
{% endblock %}
