{% extends "index.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row column_title">
    <div class="col-md-12">
      <div class="page_title">
        <h2>All Category</h2>
      </div>
    </div>
    <div class="full graph_revenue">
      <div class="row">
        <div class="col-md-12">
          <div class="inbox-head">
            <button type="button" class="main_bt read_bt">Add Category</button>
            <form action="#" class="pull-right position search_inbox">
              <div class="input-append">
                <input type="text" class="sr-input" placeholder="Search Category" />
                <button class="btn sr-btn" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>

          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
              <tr class="thead-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              {% for col in categorys %}
              <tr>
                <td>{{ col.id }}</td>
                <td>{{ col.name }}</td>
                <td>
                  <a class="btn cur-p btn-warning btn-sm">View</a>
                  <a class="btn cur-p btn-primary btn-sm">Edit</a>
                  <a class="btn cur-p btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}