{% extends "index.html" %} {% load static %} {% block content %} {% block title %}
<title>Admin Pluto | Edit Category</title>
{% endblock %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Edit Category</h2>
            </div>
        </div>
        <form method="post" action="/category/update" class="col-md-6">
            {% csrf_token %}
            <div class="mb-3">
                <input type="hidden" class="form-control" name="txtId" value="{{category.id}}"/>
                <label class="form-label">Category Name</label>
                <input type="text" class="form-control" name="txtName" value="{{category.name}}" required/>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a href="/category" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
